doctype html
html
  head
    title= result.name
  body
    h1= result.name
    img(src=result.link, alt=result.name, width='300', height='300')
    p Image Name: #{result.name}
    p Image Tags: 
      ul
        each tag in result.tag
          li= tag
    br
    
    form(method = 'POST' action = `/api/orders/${stickerParam}` )
      label(for="quantity") Quantity:
      input(type="number" name="quantity" id="quantity" min="1" value="1")

      br
      
      label(for="dimension") Dimension:
      select(name="dimension" id="dimension") 
        option(value="small") 10 cm x 10 cm
        option(value="medium") 20 cm x 20 cm
        option(value="large") 30 cm x 30 cm

      br

      label(for="agentId") Choose drop off agent location: 
      select(name="agentId" id="agentId") 
        option(value="653a61fce7f34cae19f4df34") HiLCoE 
        option(value="653a61fce7f34cae19f4df34") 5 Kilo
        option(value="653a61fce7f34cae19f4df34") 6 Kilo

      br

      button(type="submit") Add to cart

